[submodule "third_party/wayland-protocols"]
	path = third_party/wayland-protocols
	url = https://gitlab.freedesktop.org/wayland/wayland-protocols.git
[submodule "third_party/wayland"]
	path = third_party/wayland
	url = https://gitlab.freedesktop.org/wayland/wayland.git
